html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #f6f6e9;
}

body {
    background-color: #13334c;
    margin: 0;
}

h1, h2 {
    padding: 10px;
    padding-top: 20px; 
    text-align: center;
}

section {
    position: relative;
    text-align: center;
    background-color: #005792;
    height: 150px;
    padding: 10px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 0.5%;
    
}

.buttonHolder {
    text-align: center;
    margin: 0.5%;
    
}



